.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 60px;
  background-color: #fff;
  padding: 5px 0 0 20px;
  position: relative;
}

.nav a {
  text-decoration: none;
  font-size: 20px;
  color: gray;
}

header h1 {
  display: flex;
  color: #0290ff;
  font-size: 36px;
}

.userIcon {
  font-size: 25px;
  color: #0290ff;
  position: absolute;
  right: 50px;
}
